body {
    font-size: 1.4em;
}

p {
    color: purple;
}

#sandeep {
    color: darkorange;
}

#red-text {
    color: red;
}

.blue-text-class {
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}