#sandeep {
    color:black ;
}

#red-text {
    color: red;
}

.blue-text-class {
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 td {
    border: 1px solid black;
}

.blue-button {
    background-color: blue;
    color: white;
}
.credit-form-group {
    color:red;
}

/* input {
    width:100%;
} */
form {
    margin-left: 10px;
    margin-right: 10px;
}